<!DOCTYPE html>
<html lang="es">
<head th:include="head.html">
</head>

<body>

<nav th:include="navMenu.html"></nav>


<div class="row">
    <form class="col s12" id="busqueda_form" action="/burguers/save" method="post" th:object="${busqueda}" >
        <div class="row">
            <div class="input-field col s6">
                <label for="ciudad">Ciudad</label>
                <input id="ciudad" name="ciudad"  type="text" placeholder=""/>
            </div>
            <div class="input-field col s6">
                <label for="fechaInicio">FechaInicio</label>
                <input id="fechaInicio" name="fechaInicio" type="date" placeholder=""/>
            </div>
            <div class="input-field col s6">
                <label for="fechaFin">FechaFin</label>
                <input id="fechaFin" name="fechaFin"  type="date" placeholder=""/>
            </div>

        </div>

        <input type="submit" value="Guardar">
    </form>
</div>


</body>
</html>